$dark-bg: #0f0f0f;
$dark-bg-accent: #272727;
$dark-bg-accent-hover: #3f3f3f;

$dark-input-bg: #121212;
$dark-input-btn: #222222;

$dark-text-main: #ffffff;
$dark-text-muted: #aaaaaa;
$dark-text-badge: #9baaaa;

$brand-color: #ff0000;
