$font-size: 0.9rem;
.dropdown {
  position: relative;
  display: inline-block;

  .dropdown-content {
    display: none;

    position: absolute;
    right: 0;

    background-color: $dark-bg-accent;

    margin-top: 1rem;
    padding: 12px 16px;

    min-width: 200px;
    max-width: 70vw;
    z-index: 1;

    border: 1px solid $dark-text-muted;
    border-radius: 12px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
}

.list {
  display: flex;
  flex-direction: column;

  .item {
    display: flex;
    flex-direction: row;
    align-items: center;

    color: $dark-text-main;
    text-decoration: none;

    .icon {
      width: $font-size + 0.5rem;
      margin-right: 1rem;
    }
    span {
      font-size: $font-size;
    }
  }
}
